.formElement{

}

.formElement.error input,
.formElement.error textarea
{
    border: 1px red solid;
}

.formElement span{
    margin-left: 5px;
    color: red;
}

.formSummaryError{
    border: 1px solid red;
    padding: 10px;
    color: red;
    width: fit-content;


}